<!DOCTYPE html>
<html>
<head>
<title>My online store</title>
<%= stylesheet_link_tag "scaffold" %>
<%= stylesheet_link_tag "depot", :media => "all" %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body id="store" >
<div id="banner" >
<%= image_tag("logo.jpg") %>
<%= @page_title || "MY SHELF" %>
</div>
<div id="columns" >
<div id="side" >
<a href="/" >Home</a><br />
<%= current_cart_link %>
</div>
<div id="main" >
<%= yield %>
</div>
</div>
</body>
</html>